body {
  font-family: Arial, sans-serif;
  background-color: #72167e9a;
  background-image:url;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-switcher {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-switcher button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-switcher button.active {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.form-container {
  text-align: left;
}

.form {
  text-align: left;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
